/* ==========================================================================
   FOOTER
   ========================================================================== */

.c-page-footer {
background-color: $color-blue-darkest;
.c-page-footer-nav .o-wrapper-wide {
  padding-left: 0;
  padding-right: 0;
}

a {
text-decoration: underline;
}
a:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: $color-orange-dark;
}

address {
  line-height: 1.6;
  margin: 0 0 30px 0;
  padding: 0;
  font-size: clamp(1rem,0.2vw + 0.95rem,1.13rem);
}

}

.c-page-footer-main {
  background-color: $color-blue-darkest;
  h2 {
    color: $color-blue-light !important;
  }


  > div {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    height: 100%; 
    border-right: 1px solid $color-blue-med;
    border-left: 1px solid $color-blue-med;
    color: #fff;
    .cell:last-of-type {
      @media(width >= $bp-medium) {
        border-left: 1px solid $color-blue-med;
        padding-left: 30px;
      
      } 
    }
  }
}

.c-page-footer-lower {
  background-color: $color-blue-darkest;
  color: #fff;
  // padding-left: 30px;
  // padding-right: 30px;
  font-size: 15px;
  border-top: 1px solid $color-blue-med;
  > div {
    display: flex;
    align-items: center;
    
    min-height: 60px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
  
  }
}

.c-copywrite {
  font-size: clamped(16px, 18px);
}

.c-page-footer-topper {
  border-top: 1px solid $color-blue-med;
  border-bottom: 1px solid $color-blue-med;
  transform: translateZ(1px);
  >div {
    min-height: 60px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    border-right: 1px solid $color-blue-med;
    border-left: 1px solid $color-blue-med;
    position: relative;
    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 1px;
      background-color: $color-blue-med;
      position: absolute;
      left: -10px;
      top: 0;
    }
    &::after {
      content: '';
      display: block;
      height: 100%;
      width: 1px;
      background-color: $color-blue-med;
      position: absolute;
      right: -10px;
      top: 0;
    }
    
  }
  p {
    margin-bottom: 0;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  a:hover {
    color: $color-blue-light;
    text-decoration-color: #fff;
  }
}

.c-page-footer-spacer {
  height: 60px;
  > div {
    height: 100%;
    border-right: 1px solid $color-blue-med;
    border-left: 1px solid $color-blue-med;
  }
}

.c-page-footer-nav {
  min-height: 60px;
  border-top: 1px solid $color-blue-med;
  border-bottom: 1px solid $color-blue-med;
}

.c-footer-nav-menu {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  min-height: 60px;
  flex-flow: row wrap;
  padding-top: 12px;
  padding-bottom: 12px;
  gap: 15px 30px;
  
  @media(width >= $bp-medium) {
    flex-direction: row;
    padding-bottom: 0;
    padding-top: 0;
  }
    > li {
      @media(width >= $bp-medium) {
        margin-right: 50px;
      
      } 
      &:last-child {
        margin-right: 0;
      }
      a {
        color: #fff;
        text-decoration: underline;
        font-size: clamped(16px, 18px);
        &:hover {
          text-decoration-color: $color-orange-dark;
        }
      }
    }
  }

  .c-widget-heading-2 {
    @media(width <= $bp-medium) {
      margin-top: 90px;
    
    } 
  }

  .page-id-33 {
    .c-page-footer {
      margin-top: -1px;
    }
  }