// .c-img-banner {
//     height: 500px;
//     @media(width >= $bp-large) {
//     height: 695px;
//     } 
//     img {
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//         object-position: center;
//         position: absolute;
//         top: 0;
//         left: 0;
//     }
// }

.c-img-banner {

    height: 330px;
    overflow: hidden; // Ensure the image doesn't overflow the container
    background-color: $color-blue-darkest;
@media(width >= $bp-medium) {
    height: 450px;

} 
    @media (width >= $bp-large) {
        height: 665px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0; // Initial state: hidden
        transform: scale(1.1); // Initial state: slightly zoomed out
        transition: opacity 1s ease-in-out, transform 1s ease-in-out; // Animation properties
    }

    &.loaded img {
        opacity: 1; // Final state: visible
        transform: scale(1); // Final state: normal size
    }
}

.c-img-banner-hero {
margin-top: 95px;
@media(width >= $bp-medium) {
margin-top: 0;
} 
}

// circled images
.c-circle-outlined {
    position: relative;
    border: 1px solid $color-blue-med;
    padding: 10px;
    border-radius: 50%;
    img {
        border-radius: 50%;
    }
    &::after {
        content: '';
        display: block;
        border: 1px solid $color-blue-med;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        position: absolute;
        top: -10px;
        left: -10px;
        border-radius: 50%;
    }
}

.c-home-hero {
position: relative;
// padding: 0 30px; 
figure {
    margin-top: 95px;
    margin-bottom: 0;
 
    @media(width >= $bp-medium) {
        margin-top: 0; 
    
    } 

//  &::after { 
//     content: "";
//     display: block;
//     height: 100%;
//     width: 1px;
//     background-color: #026CB6;
//     position: absolute;
//     right: 30px;
//     top: 0;
//     z-index: 20;
//  }
//  &::before { 
//     content: "";
//     display: block;
//     height: 100%;
//     width: 1px;
//     background-color: #026CB6;
//     position: absolute;
//     right: 20px;
//     top: 0;
//     z-index: 20;
//  }
}
}

.c-home-hero-cover  {
    // @media(width >= $bp-medium) {
    //     padding: 0 30px;
    
    // } 
}

.c-home-hero-img {

    max-width: 100% !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    @media(width >= $bp-medium) {
        position: absolute;
        z-index: -1;

    } 

    img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
        object-fit: cover;
        object-position: center;
        @media(width >= $bp-medium) {
    position: absolute;
        
        } 
    }

}

.c-circle-image, .is-style-circleimg {
    position: relative;
    border-radius: 50%;
    border: 1px solid $color-blue-med;
    padding: 10px;

    img {
      border-radius: 50%;
     
      position: relative;
      
    }
    &::after {
        content: '';
        display: block;
        border: 1px solid $color-blue-med;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        position: absolute;
        top: -10px;
        left: -10px;
        border-radius: 50%;
      }
}

// accordions
.c-accordiion-main {
    .gb-button .gb-icon {
background-color: $color-blue-dark;
color: #fff;
width: 30px ;
height: 30px;
padding: 0;
display: flex;
align-items: center;
justify-content: center;
margin-right: 30px;
border: 1px solid $color-blue-med;
svg {
    fill: #fff;
    rect {
        fill: #fff !important;
    }
}
    }
}

// Callouts
.c-callouts {
 > .gb-grid-column {
    > .gb-container {
        >.gb-container:last-of-type {
                > :last-child {
                    margin-bottom: 0 !important;
                }
        }
        }
    }
 }

//  Related Content
.c-releated-content {
     div {
        border-color: $color-blue-med;
    }
}


.c-tab-toggle {
    flex: 0 0 auto;
    width: 28px;
    height: 28px;
    border: 1px solid $color-blue-med;
    background-color: $color-blue-dark;
    position: relative;
    margin-right: 15px;
    &::after {
        content: '';
        display: block;
        width: 15px;
        height: 1px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &::before {
        content: '';
        display: block;
        width: 1px;
        height: 15px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


.gb-tabs__button.gb-block-is-current .c-tab-toggle{
    &::before {
        display: none;
    }
}

.gb-tabs__button:not(.gb-block-is-current) {
    &:hover {
        .c-tab-toggle {
            background-color: #fff;
            &::before, &::after {
                background-color: $color-blue-darkest;
            }
        }
    }
}

.c-home-intro {
    padding-top: 30px;
}

.c-updates {
    margin-bottom: 54px;
    > div {
        border-top: 1px solid $color-blue-med;
        padding-top: 54px;
        padding-bottom: 54px;
        &:nth-of-type(2n) {
            background-color: #F3F4F8;
        }
    }
    h2 {
        margin-bottom: 5px;
        text-transform: uppercase;
    }
    .c-updates-timestamp {
        display: block;
        margin-bottom: 30px;
    }
}