/* ==========================================================================
   P TAGS
   ========================================================================== */

p {
  line-height: $line-height-normal;
  margin: 0 0 30px 0;
  padding: 0;
  font-size: clamped(16px, 18px);

  &.is-style-u-eyebrow-heading {
    font-family: $font-secondary;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: clamped(20px, 22px) !important;
    color: $color-blue-light;
    margin-bottom: 20px;
    &.mb-0 {
      margin-bottom: 0;
    }
  }
  &.is-style-u-eyebrow-heading-white {
    font-family: $font-secondary;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: clamped(20px, 22px) !important;
    color: #fff;
    margin-bottom: 20px;
  }
}


// spacing
main {
  p + .is-style-u-eyebrow-heading {
    margin-top: 54px;
  }
}
